body {
  margin: 0;
  background-color: lightgray;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 2em;
  text-align: center;
}

.page {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 50px);
}
